{% extends 'base.html.twig' %}

{% block title %} Hope3k | BC fournisseur {% endblock %}{% block menu %}  <a href="{{ path('bcfournisseur_index') }}">BC fournisseur</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <h1>Bcfournisseur edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('bcfournisseur_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
