{% extends 'base.html.twig' %}

{% block title %} Hope3k | BC fournisseur {% endblock %}{% block menu %}  <a href="{{ path('bcfournisseur_index') }}">BC fournisseur</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <h1>Bcfournisseurs list</h1>

    <table class="table table-detail">
        <thead>
            <tr>
                <th>Id</th>
                <th>Achat</th>
                <th>Facturefournisseur</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Documentname</th>
                <th>Updatedat</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bcfournisseur in bcfournisseurs %}
            <tr>
                <td><a href="{{ path('bcfournisseur_show', { 'id': bcfournisseur.id }) }}">{{ bcfournisseur.id }}</a></td>
                <td>{{ bcfournisseur.achat }}</td>
                <td>{{ bcfournisseur.factureFournisseur }}</td>
                <td>{{ bcfournisseur.etat }}</td>
                <td>{% if bcfournisseur.date %}{{ bcfournisseur.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bcfournisseur.documentName }}</td>
                <td>{% if bcfournisseur.updatedAt %}{{ bcfournisseur.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if bcfournisseur.createdAt %}{{ bcfournisseur.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bcfournisseur_show', { 'id': bcfournisseur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bcfournisseur_edit', { 'id': bcfournisseur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bcfournisseur_new') }}">Create a new bcfournisseur</a>
        </li>
    </ul>
{% endblock %}
