{% extends 'base.html.twig' %}

{% block title %} Hope3k | BC fournisseur {% endblock %}{% block menu %}  <a
        href="{{ path('bcfournisseur_index') }}">BC
    fournisseur</a>   {% endblock %}   {% block menu_active %}    Liste {% endblock %}{% block content1 %}

    <div class="col-md-12  widget-container-col ui-sortable" id="widget-container-col-1">

        <div class="widget-box ui-sortable-handle" id="widget-box-1">
            <div class="widget-header">
                <h5 class="widget-title">Liste des BC fournisseur :</h5>

                <div class="widget-toolbar">
                    <div class="widget-menu">
                        <a href="#" data-action="settings" data-toggle="dropdown">
                            <i class="ace-icon fa fa-bars"></i>
                        </a>


                    </div>

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>


                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="clearfix">
                                <div class="pull-right tableTools-container">
                                </div>
                            </div>
                            <div class="table-header">
                                BC fournisseurs : <a href="{{ path('bcfournisseur_new') }}"
                                                     class="btn btn-white btn-default pull-right"
                                                     style="margin-top: 2px;margin-right: 3px;">
                                    <i class="fa fa-plus"></i>
                                    Nouvelle BC fournisseur
                                </a>

                            </div>

                            <!-- div.table-responsive -->

                            <!-- div.dataTables_borderWrap -->
                            <div>
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline ">
                                    <table id="dynamic-table"
                                           class="table table-striped table-bordered table-hover dataTable no-footer text-center"
                                           role="grid" aria-describedby="dynamic-table_info">
                                        <thead style="font-weight: bold;">
                                        <tr role="row">

                                            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                                                colspan="1" style="color: #707070;"
                                                aria-label="Domain: activate to sort column ascending">
                                                Réference
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                                                colspan="1"
                                                aria-label="Domain: activate to sort column ascending">
                                                Fournisseur
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="dynamic-table"
                                                rowspan="1" colspan="1"
                                                aria-label="Price: activate to sort column ascending"
                                                aria-sort="descending">
                                                consultant
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="dynamic-table"
                                                rowspan="1" colspan="1"
                                                aria-label="Price: activate to sort column ascending"
                                                aria-sort="descending">
                                                date
                                            </th>


                                            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table"
                                                rowspan="1"
                                                colspan="1" aria-label="Status: activate to sort column ascending">
                                                Mois
                                            </th>
                                            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table"
                                                rowspan="1"
                                                colspan="1" aria-label="Status: activate to sort column ascending">
                                                nb jours
                                            </th>
                                            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table"
                                                rowspan="1"
                                                colspan="1" aria-label="Status: activate to sort column ascending">
                                               TJM
                                            </th>
                                            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table"
                                                rowspan="1"
                                                colspan="1" aria-label="Status: activate to sort column ascending">
                                                Achat HT
                                            </th>
                                            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table"
                                                rowspan="1"
                                                colspan="1" aria-label="Status: activate to sort column ascending">
                                                Achat TTC
                                            </th>


                                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for bcfournisseur in bcfournisseurs %}

                                            <tr role="row" class="odd">


                                                <td>


                                                    #{{ bcfournisseur.code }}


                                                </td>

                                                <td>
                                                    {% if bcfournisseur.fournisseur is null %}
                                                        --

                                                    {% else %}

                                                        {{ bcfournisseur.fournisseur }}


                                                    {% endif %}
                                                </td>
                                                <td>

                                                    {% if bcfournisseur.consultant is null %}


                                                    {% else %}

                                                        {{ bcfournisseur.consultant }}


                                                    {% endif %}


                                                </td>


                                                <td class="hidden-480">
                                                    {% if bcfournisseur.date is null %}
                                                        --
                                                    {% else %}
                                                        {{ bcfournisseur.date|date('Y-m-d') }}

                                                    {% endif %}


                                                </td>
                                                <td>
                                                    {% if bcfournisseur.mois is null %}
                                                        --

                                                    {% else %}

                                                        {{ bcfournisseur.mois }}/{{ bcfournisseur.year }}


                                                    {% endif %}

                                                </td>

                                                <td class="hidden-480">
                                                    {% if bcfournisseur.nbjours is null %}
                                                        --
                                                    {% else %}
                                                        {{ bcfournisseur.nbjours }}

                                                    {% endif %}


                                                </td>
                                                <td class="hidden-480">
                                                    {% if bcfournisseur.mission is null %}

                                                        {% if bcfournisseur.projet %}
                                                            {{ bcfournisseur.fournisseur.projetconsultants[0].achat }}
                                                        {% else %}

                                                            --
                                                        {% endif %}

                                                    {% else %}
                                                        {{ bcfournisseur.mission.prixAchat }}

                                                    {% endif %}


                                                </td>
                                                <td>
                                                    {% if bcfournisseur.achatHT is null %}
                                                        --

                                                    {% else %}

                                                        {{ bcfournisseur.achatHT }}


                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if bcfournisseur.achatTTC is null %}
                                                        --

                                                    {% else %}

                                                        {{ bcfournisseur.achatTTC }}


                                                    {% endif %}
                                                </td>


                                                <td>
                                                    <div class="hidden-sm hidden-xs action-buttons">
                                                        <a class="blue"
                                                           href="{{ path('bcfournisseur_show', { 'id': bcfournisseur.id }) }}"
                                                           title="voir">
                                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                        </a>

                                                        <a class="orange"
                                                           href="{{ path('bcfournisseur_edit', { 'id': bcfournisseur.id }) }}"
                                                           title="modifier">
                                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                        </a>
                                                        <a class="orange"
                                                           href="{{ path('bcfournisseur_print', { 'id': bcfournisseur.id }) }}"
                                                           title="imprimer">
                                                            <i class="ace-icon fa fa-print bigger-130"></i>
                                                        </a>


                                                    </div>

                                                    <div class="hidden-md hidden-lg">
                                                        <div class="inline pos-rel">
                                                            <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                                    data-toggle="dropdown"
                                                                    data-position="auto">
                                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                            </button>

                                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                                <li>
                                                                    <a href="#" class="tooltip-info" data-rel="tooltip"
                                                                       title=""
                                                                       data-original-title="View">
                                                    <span class="blue">
                                                        <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                    </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-success"
                                                                       data-rel="tooltip" title=""
                                                                       data-original-title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-error" data-rel="tooltip"
                                                                       title=""
                                                                       data-original-title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- page specific plugin scripts -->
    <script src="{{ asset('') }}assets/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('') }}assets/js/jquery.dataTables.bootstrap.min.js"></script>

    <script src="{{ asset('') }}assets/js/dataTables.buttons.min.js"></script>
    <script src="{{ asset('') }}assets/js/buttons.flash.min.js"></script>
    <script src="{{ asset('') }}assets/js/buttons.html5.min.js"></script>
    <script src="{{ asset('') }}assets/js/buttons.print.min.js"></script>
    <script src="{{ asset('') }}assets/js/buttons.colVis.min.js"></script>
    <script src="{{ asset('') }}assets/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            var rowCount = $('#dynamic-table').length;
            console.log(rowCount);

            //initiate dataTables plugin
            var myTable =
                $('#dynamic-table')
                    .wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                    .DataTable({
                        initComplete: function () {
                            this.api().columns([]).every(function () {
                                var column = this;
                                var select = $('<select><option value="" class="pull_right">-- filtrer --</option></select>')
                                    .appendTo($(column.header()))
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    var val = $('<div/>').html(d).text();
                                    select.append('<option value="' + val + '">' + val + '</option>');

                                });
                            });
                        },
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'

                        },
                        bAutoWidth: false,
                        "aoColumns": [
                            {"bSortable": true},
                            null, null, null, null, null, null, null,null,
                            {"bSortable": false}
                        ],
                        "aaSorting": [],


                        //"bProcessing": true,
                        //"bServerSide": true,
                        //"sAjaxSource": "http://127.0.0.1/table.php"	,

                        //,
                        //"sScrollY": "200px",
                        //"bPaginate": false,

                        //"sScrollX": "100%",
                        //"sScrollXInner": "120%",
                        "bScrollCollapse": true,
                        //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                        //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                        //"iDisplayLength": 50


                        select: {
                            style: 'multi'
                        }

                    });


            $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

            new $.fn.dataTable.Buttons(myTable, {
                buttons: [
                    {
                        "extend": "colvis",
                        "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                        "className": "btn btn-white btn-primary btn-bold",
                        columns: ':not(:first):not(:last)'
                    },
                    {
                        "extend": "copy",
                        "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                    },
                    {
                        "extend": "excel",
                        "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to CSV</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                    },

                    {
                        "extend": "print",
                        "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                        "className": "btn btn-white btn-primary btn-bold",
                        autoPrint: false,
                        message: ''
                    }
                ]
            });
            myTable.buttons().container().appendTo($('.tableTools-container'));

            //style the message box
            var defaultCopyAction = myTable.button(1).action();
            myTable.button(1).action(function (e, dt, button, config) {
                defaultCopyAction(e, dt, button, config);
                $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
            });


            var defaultColvisAction = myTable.button(0).action();
            myTable.button(0).action(function (e, dt, button, config) {

                defaultColvisAction(e, dt, button, config);


                if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                    $('.dt-button-collection')
                        .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                        .find('a').attr('href', '#').wrap("<li />")
                }
                $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
            });

            ////

            setTimeout(function () {
                $($('.tableTools-container')).find('a.dt-button').each(function () {
                    var div = $(this).find(' > div').first();
                    if (div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                    else $(this).tooltip({container: 'body', title: $(this).text()});
                });
            }, 500);


            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });


            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table');
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

            myTable.on('select', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
                }
            });
            myTable.on('deselect', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
                }
            });


            /////////////////////////////////
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $('#dynamic-table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) myTable.row(row).select();
                    else  myTable.row(row).deselect();
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                var row = $(this).closest('tr').get(0);
                if (this.checked) myTable.row(row).deselect();
                else myTable.row(row).select();
            });


            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });


            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]', function () {
                var $row = $(this).closest('tr');
                if ($row.is('.detail-row ')) return;
                if (this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });

            $("#vir").click(function (event) {
                event.preventDefault();
                var searchIDs = $("#dynamic-table input:checkbox:checked").map(function () {
                    return $(this).val();
                }).get(); // <----


                var url = Routing.generate('route_to_retrieve_bc');

                /*  $.post(url,
                 { 'idClass': Id
                 }, function(data, status){
                 if(status=='200'){
                 alert("Data: " + data + "\nStatus: " + status);
                 }else {
                 alert("erreur");
                 }

                 });
                 */
                $.ajax({
                    type: "POST",
                    data: {
                        idBCfournisseur: searchIDs,

                    }, // no need to stringify the data, jquery does it for you
                    url: url,
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        location.href = Routing.generate('virement_index');


                    },
                    error: function (error) {
                        console.log(error);

                    }
                });


                ///////////////////////////////////////////
                $('#user-profile-3')
                    .find('input[type=file]').ace_file_input({
                    style: 'well',
                    btn_choose: 'Change avatar',
                    btn_change: null,
                    no_icon: 'ace-icon fa fa-picture-o',
                    thumbnail: 'large',
                    droppable: true,

                    allowExt: ['jpg', 'jpeg', 'png', 'gif'],
                    allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
                })
                    .end().find('button[type=reset]').on(ace.click_event, function () {
                    $('#user-profile-3 input[type=file]').ace_file_input('reset_input');
                })
                    .end().find('.date-picker').datepicker().next().on(ace.click_event, function () {
                    $(this).prev().focus();
                })
                $('.input-mask-phone').mask('(999) 999-9999');

                $('#user-profile-3').find('input[type=file]').ace_file_input('show_file_list', [{
                    type: 'image',
                    name: $('#avatar').attr('src')
                }]);


                ////////////////////

            });


        })
    </script>


{% endblock %}
