{% extends 'base.html.twig' %}

{% block title %} Hope3k | BC Client {% endblock %}{% block menu %}  <a href="{{ path('bcclient_index') }}">BC Client</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <h1>Bcclient</h1>

    <table class="table table-detail">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bcclient.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ bcclient.code }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if bcclient.date %}{{ bcclient.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbjrs</th>
                <td>{{ bcclient.nbJrs }}</td>
            </tr>
            <tr>
                <th>Nbjrsr</th>
                <td>{{ bcclient.nbJrsR }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bcclient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bcclient_edit', { 'id': bcclient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
