{% extends 'base.html.twig' %}
{% block title %} Hope3k | Fiche {% endblock %}

{% block menu %}  <a href="{{ path('fiche_index') }}">Fiche</a>   {% endblock %}

   {% block menu_active %}    Liste {% endblock %}
{% block content %}
    <h1 class="text-center">Fiches list</h1>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <a href="{{ path('fiche_new') }}" class="btn btn-white btn-primary btn-block"><i
                        class="fa fa-plus-circle"></i> Ajouteur une fiche</a>
        </div>
    </div>
    <hr>
    <table class="table table-striped table-bordered table-hover dataTable no-footer text-left">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Raisonsocial</th>
                <th>Activite</th>
                <th>Adresse</th>
                <th>Capital</th>
                <th>Ice</th>
                <th>Iff</th>
                <th>Cnss</th>
                <th>Rib</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche in fiches %}
            <tr>
                <td><a href="{{ path('fiche_show', { 'id': fiche.id }) }}">{{ fiche.id }}</a></td>
                <td>{{ fiche.nom }}</td>
                <td>{{ fiche.raisonSocial }}</td>
                <td>{{ fiche.activite }}</td>
                <td>{{ fiche.adresse }}</td>
                <td>{{ fiche.capital }}</td>
                <td>{{ fiche.iCE }}</td>
                <td>{{ fiche.iff }}</td>
                <td>{{ fiche.cnss }}</td>
                <td>{{ fiche.rib }}</td>
                <td>
                            <a href="{{ path('fiche_show', { 'id': fiche.id }) }}"><i class="fa fa-search-plus bigger-140"></i></a>


                            <a href="{{ path('fiche_edit', { 'id': fiche.id }) }}"><i class="fa fa-edit bigger-140 orange"></i></a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
