{% extends 'base.html.twig' %}

{% block title %} Hope3k | Commande {% endblock %}{% block menu %}  <a href="{{ path('consultant_index') }}">commande
    line</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Ajouter une commande line</h4>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% if output is defined and output is not null %}
                            <div class="alert alert-info">
                                <strong>{{ output | nl2br}}</strong>

                            </div>

                        {% endif %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button class="btn btn-white btn-success btn-bold btn-block" type="submit">
                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                    Enregister
                                </button>
                                <br>
                            </div>
                        </div>

                        {{ form_end(form) }}
                        <br>
                    </div>

                </div>

            </div>
        </div>
    </div>






{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        jQuery(function ($) {

        })
    </script>

{% endblock %}
