{% extends 'base.html.twig' %}

{% block title %} Hope3k | Mission {% endblock %}{% block menu %}  <a
        href="{{ path('mission_index') }}">Mission</a>   {% endblock %}   {% block menu_active %}    Modifier {% endblock %}{% block content %}
    <div class="col-md-12  widget-container-col ui-sortable" id="widget-container-col-1">
        <div class="widget-box ui-sortable-handle" id="widget-box-1">
            <div class="widget-header">
                <h5 class="widget-title">Modifier une Mission :</h5>

                <div class="widget-toolbar">
                    <div class="widget-menu">
                        <a href="{{ path('mission_index') }}">
                            <i class="ace-icon fa fa-bars"></i>
                        </a>

                    </div>

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>


                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main ">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <Button class="btn btn-white btn-block btn-warning" type="submit">
                                <i class="fa fa-edit"></i> Modifier
                            </Button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>


        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><a href="{{ path('mission_index') }}"><i class="fa fa-backward"></i> Back to the list</a>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-1"> {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>

    </div>



{% endblock %}
