{% extends 'base.html.twig' %}

{% block title %} Hope3k | Client {% endblock %}{% block menu %}  <a
        href="{{ path('client_index') }}">Client</a>   {% endblock %}   {% block menu_active %}    Détails {% endblock %}{% block content %}
    <h1>Client</h1>

    <table class="table table-detail">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ client.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ client.nom }}</td>
        </tr>
        <tr>
            <th>Tel</th>
            <td>{{ client.tel }}</td>
        </tr>
        <tr>
            <th>Fax</th>
            <td>{{ client.fax }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ client.email }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ client.adresse }}</td>
        </tr>
        </tbody>
    </table>
    <div class="space-6"></div>

    <div class="row">
        <div class="col-md-4 border-right">
            <a href="{{ path('client_index') }}" class="btn btn-white btn-block"><i class="fa fa-list"></i> Retour à la liste</a>
        </div>

        <div class="col-md-4 border-right" >
            <a href="{{ path('client_edit', { 'id': client.id }) }}" class="btn btn-warning btn-white btn-block"> <i class="fa fa-edit"></i> Modifier</a>
        </div>
        <div class="col-md-4">
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-danger btn-white btn-block">
            {{ form_end(delete_form) }}
        </div>
    </div>

<hr>

    <div class="col-sm-12">
        <div class="widget-box transparent" id="recent-box">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">
                    <i class="ace-icon fa fa-info orange"></i>INFOS
                </h4>

                <div class="widget-toolbar no-border">
                    <ul class="nav nav-tabs" id="recent-tab">
                        <li>
                            <a data-toggle="tab" href="#task-tab" aria-expanded="false" id="active">Missions</a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#member-tab" aria-expanded="false">Bon de commandes</a>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="widget-body">


                <div class="widget-main padding-4">
                    <div class="tab-content padding-8">
                        <div id="task-tab" class="tab-pane">
                            {% if client.missions | length == 0 %}

                            <div class="alert alert-warning">
                                Pas de Missions pour ce Client
                            </div>
                            {% else %}
                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline ">
                                <table id="dynamic-table"
                                       class="table table-striped table-bordered table-hover dataTable no-footer text-left"
                                       role="grid" aria-describedby="dynamic-table_info">
                                    <thead style="font-weight: bold;">
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                                            colspan="1" style="color: #707070;"
                                            aria-label="Domain: activate to sort column ascending">
                                            Réference
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                                            colspan="1"
                                            aria-label="Domain: activate to sort column ascending">
                                            Client
                                        </th>
                                        <th class="sorting_desc" tabindex="0" aria-controls="dynamic-table"
                                            rowspan="1" colspan="1"
                                            aria-label="Price: activate to sort column ascending"
                                            aria-sort="descending">
                                            consultant
                                        </th>
                                        <th class="sorting_desc" tabindex="0" aria-controls="dynamic-table"
                                            rowspan="1" colspan="1"
                                            aria-label="Price: activate to sort column ascending"
                                            aria-sort="descending">
                                            fournisseur
                                        </th>


                                        <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table"
                                            rowspan="1"
                                            colspan="1" aria-label="Status: activate to sort column ascending">
                                            dateDebut
                                        </th>
                                        <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table"
                                            rowspan="1"
                                            colspan="1" aria-label="Status: activate to sort column ascending">
                                            dateFin
                                        </th>



                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for mission in missions %}

                                        <tr role="row" class="odd">
                                            <td>



                                                #mission_  {{ mission.id }}




                                            </td>


                                            <td>
                                                {% if mission.client is null %}
                                                    --

                                                {% else %}

                                                    {{ mission.client.nom }}


                                                {% endif %}
                                            </td>
                                            <td>

                                                {% if mission.consultant is null %}
                                                    --

                                                {% else %}

                                                    {{ mission.consultant.nom }}


                                                {% endif %}


                                            </td>


                                            <td>
                                                {% if mission.fournisseur is null %}
                                                    --

                                                {% else %}

                                                    {{ mission.fournisseur.nom }}


                                                {% endif %}

                                            </td>

                                            <td class="hidden-480">
                                                {% if mission.dateDebut is null %}
                                                    --
                                                {% else %}
                                                    {{ mission.dateDebut|date('Y-m-d') }}

                                                {% endif %}


                                            </td>
                                            <td class="hidden-480">
                                                {% if mission.dateFin is null %}
                                                    --
                                                {% else %}
                                                    {{ mission.dateFin|date('Y-m-d') }}

                                                {% endif %}


                                            </td>


                                            <td>
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    <a class="blue"
                                                       href="{{ path('mission_show', { 'id': mission.id }) }}">
                                                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                    </a>
                                                    {% if mission.contratFFile is null %}
                                                        <a class="red"
                                                           href="{{ path('mission_upload', { 'id': mission.id }) }}">
                                                            <i class="ace-icon fa fa-cloud-upload bigger-130"></i>
                                                        </a>
                                                    {% endif %}
                                                    <a class="orange"
                                                       href="{{ path('mission_edit', { 'id': mission.id }) }}">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>

                                                    <a class="red" href=""
                                                       onclick="return confirm('vous êtes sûr que vous voulez le supprimé?');">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                    </a>

                                                </div>

                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline pos-rel">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                                data-toggle="dropdown"
                                                                data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip"
                                                                   title=""
                                                                   data-original-title="View">
                                                    <span class="blue">
                                                        <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-success"
                                                                   data-rel="tooltip" title=""
                                                                   data-original-title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-error" data-rel="tooltip"
                                                                   title=""
                                                                   data-original-title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                            {% endif %}
                        </div>



                        <div id="member-tab" class="tab-pane">
                            {% if client.bcclients | length == 0 %}

                            <div class="alert alert-warning">
                                Pas de BC  pour ce Client
                            </div>
                            {% else %}
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Code</th>
                                        <th>Date</th>
                                        <th>Nbjrs</th>
                                        <th>Nbjrsr</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for bcclient in client.bcclients %}
                                        <tr>
                                            <td><a href="{{ path('bcclient_show', { 'id': bcclient.id }) }}">{{ bcclient.id }}</a></td>
                                            <td>{{ bcclient.code }}</td>
                                            <td>{% if bcclient.date %}{{ bcclient.date|date('Y-m-d') }}{% endif %}</td>
                                            <td>{{ bcclient.nbJrs }}</td>
                                            <td>{{ bcclient.nbJrsR }}</td>
                                            <td>

                                                        <a href="{{ path('bcclient_show', { 'id': bcclient.id }) }}"><i class="icon-menu fa fa-search-plus blue bigger-140"></i></a>

                                                        <a href="{{ path('bcclient_edit', { 'id': bcclient.id }) }}"><i class="icon-menu fa fa-edit orange bigger-140"></i></a>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div><!-- /.#member-tab -->


                    </div>
                </div><!-- /.widget-main -->


            </div><!-- /.widget-body -->
        </div><!-- /.widget-box -->
    </div>

    <div class="space-4"></div>
    <hr>





{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        jQuery(function ($) {
           $('#active').click();
        })
    </script>

{% endblock %}