{% extends 'base.html.twig' %}

{% block title %} Hope3k | consultant {% endblock %}{% block menu %}  <a href="{{ path('consultant_index') }}">consultant</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <h1>Consultant creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('consultant_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
