{% extends 'base.html.twig' %}

{% block body %}
    <h1>Virementf</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ virementf.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ virementf.numero }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('virementf_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('virementf_edit', { 'id': virementf.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
