{% extends 'base.html.twig' %}

{% block title %} Hope3k | Fournisseur {% endblock %}{% block menu %}  <a href="{{ path('mission_index') }}">Mission</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <h1 class="text-center">Fournisseurs list</h1>
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <a href="{{ path('fournisseur_new') }}" class="btn btn-white btn-primary btn-block">Ajouteur un fournisseur</a>
    </div>
</div>
    <hr>
    <table class="table table-striped table-bordered table-hover dataTable no-footer text-left">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>Adresse</th>
                <th>Rib</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td><a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.id }}</a></td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.tel }}</td>
                <td>{{ fournisseur.fax }}</td>
                <td>{{ fournisseur.adresse }}</td>
                <td>{{ fournisseur.rib }}</td>
                <td>

                            <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}"><I CLASS="fa fa-search-plus bigger-150 "></I></a>

                            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}"><I CLASS="fa fa-edit bigger-150 orange"></I></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}
