{% extends 'base.html.twig' %}

{% block title %} Hope3k | facture {% endblock %}{% block menu %}  <a href="{{ path('facture_index') }}">facture</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <h1>Facture edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
       <center>
           <input type="submit" value="Modifier"  class="btn btn-white btn-warning"/>
       </center>
    {{ form_end(edit_form) }}
    <hr>
   <div class="row">

       <div class="col-md-4">
           <a href="{{ path('facture_index') }}" class="btn btn-white btn-info btn-block">Back to the list</a>

       </div>
       <div class="col-md-4">

       </div>
       <div class="col-md-4">
           {{ form_start(delete_form) }}
           <input type="submit" value="Supprimer" class="btn btn-block">
           {{ form_end(delete_form) }}

       </div>
   </div>

{% endblock %}
