{% extends 'base.html.twig' %}

{% block title %} Hope3k | Mission {% endblock %}{% block menu %}  <a href="{{ path('mission_index') }}">Mission</a>   {% endblock %}   {% block menu_active %}    Ajouter {% endblock %}{% block content %}
    <h1>Factures list</h1>

    <table class="table table-detail">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Mois</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                <td>{{ facture.etat }}</td>
                <td>{{ facture.mois }}</td>
                <td>{% if facture.date %}{{ facture.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facture_show', { 'id': facture.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('facture_edit', { 'id': facture.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_new') }}">Create a new facture</a>
        </li>
    </ul>
{% endblock %}
