{% extends 'base.html.twig' %}
{% block title %} Hope3k | Facture {% endblock %}

{% block menu %}  <a href="{{ path('facture_index') }}">Facture</a>   {% endblock %}

   {% block menu_active %}    Ajouter {% endblock %}
{% block content %}

    <div class="col-md-12  widget-container-col ui-sortable" id="widget-container-col-1">
        <div class="widget-box ui-sortable-handle" id="widget-box-1">
            <div class="widget-header">
                <h5 class="widget-title">Ajouter une facture :</h5>

                <div class="widget-toolbar">
                    <div class="widget-menu">
                        <a href="{{ path('facture_index') }}">
                            <i class="ace-icon fa fa-bars"></i>
                        </a>

                    </div>

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>


                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        {{ form_start(form) }}
                        <div class="col-md-6 col-md-offset-3">
                            {{ form_row(form.client) }}
                            {{ form_row(form.mission) }}
                            {{ form_row(form.consultant) }}
                            {{ form_row(form.bcclient) }}

                        </div>


                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-md-5 col-md-offset-1 border-right ">
                            {{ form_row(form.etat) }}


                        </div>
                        <div class="col-md-2 ">
                            {{ form_row(form.mois) }}



                        </div>
                        <div class="col-md-2 ">

                            <label for="spinner2">Année: </label>
                            <div class="input-group">
                                <input type="text" id="spinner2" name="appbundle_facture[year]"
                                       class="spinbox-input form-control text-center spinner2">
                                <div class="spinbox-buttons input-group-btn btn-group-vertical">

                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="space"></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1 border-right">

                            <div class="form-group"><label for="appbundle_facture_date" class="required">Date
                                    de facture</label>
                                <input type="text" id="appbundle_facture_date" name="appbundle_facture[date]"
                                       required="required" class="date-timepicker1 form-control "
                                       placeholder="MM/DD/YYYY">
                            </div>

                        </div>
                        <div class="col-md-3 col-md-offset-2 ">

                            <label for="spinner1">Nombre des jours: </label>
                            <div class="input-group">
                                <input type="text" id="spinner1" name="appbundle_facture[nbjour]"
                                       class="spinbox-input form-control text-center spinner1">
                                <div class="spinbox-buttons input-group-btn btn-group-vertical">

                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="space"></div>
                    <hr>


                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        {#{{ form_row(form.bcclient) }}#}
                        {#{{ form_row(form.verifiedBy) }}#}
                        {#{{ form_row(form.validatedBy) }}#}

                        <a href="{{ path('facture_index') }}" class="btn btn-white btn-info btn-block"><i
                                    class="fa fa-reply"></i> Retour</a>
                    </div>
                    <div class="col-md-4 col-md-offset-1">


                        <button class="btn btn-white btn-success btn-block" type="submit" formnovalidate>
                            <i class="ace-icon fa fa-check"></i>
                            Enregistrer
                        </button>
                    </div>

                </div>
                <div class="space"></div>
                {{ form_widget(form._token) }}

                {{ form_end(form , {'render_rest': false}) }}


            </div>


        </div>

    </div>


    </div>


    </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script>
        $(document).ready(function () {

            var TodayDate = new Date();
            var d = TodayDate.getDay();
            var m = TodayDate.getMonth()+1;
            var y = TodayDate.getFullYear();


            $('.spinner1').ace_spinner({
                value: 10,
                min: 0,
                max: 31,
                step: 1,
                btn_up_class: 'btn-info',
                btn_down_class: 'btn-info'
            })
                .closest('.ace-spinner')
            ;
            $('.spinner2').ace_spinner({
                value: y,
                min: 2000,
                max: 2050,
                step: 1,
                btn_up_class: 'btn-info',
                btn_down_class: 'btn-info'
            })
                .closest('.ace-spinner')
            ;
            $("#appbundle_facture_mois").val(m);

        });
    </script>
{% endblock %}