<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="web/assets/css/Style_Page_Mission_Imprimer.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/print_projet.css') }}">
    <title>Imprimer Facture</title>
    <meta charset="utf-8">
    <style type="text/css">
        .desc {
            height: 57px;
        }
    </style>
</head>
<body>

<header class="A">
    <p class="B">
        <img src="https://media-exp1.licdn.com/dms/image/C4E1BAQFRyjYnYD3Drg/company-background_10000/0?e=2159024400&v=beta&t=RAlKPanZtaaj-QxmgPwR1edKWgyc6gHkuzuOteOPOKk"
             alt="HOP3K" width="300" height="120"/><br>
        {#<span class="F">H O P E &nbsp;A N D &nbsp;W E &nbsp;P E R F O R M</span>#}
    </p>
    <p class="C text-center">
        <img src="https://www.ecoenergiesolutions.com/uploads/labels/20121120-1548-afaq-9001.jpg" alt="AFAQA"
             width="100"
             height="100"/><br>
        <span class="G text-center">ISO 9001 : 2015</span>
        <span class="GA text-center">ID : 121497101356</span>
    </p>
</header>

<p class="DF">

    <strong class="SQ">FACTURE</strong><br>

    <span class="QW">NUMÉRO &nbsp;: {{ facture.numero }}<br>
         DATE   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {% if facture.date %}{{ facture.date|date('d-m-Y') }}{% endif %}</span>

</p>

<div class="row QWF ">

    {% if fiche is not null %}
        <div class="col-md-5 10 AZE">

            <h4 class="RTY">{{ fiche.nom }}</h4>
            <p class="WXV">
                Adresse : {{ fiche.adresse| nl2br }}
            </p>
            <p>
                <span class="WXV">ICE</span> : <span class="ZEF"><strong>{{ fiche.ice }}</strong></span>
            </p>

        </div>
    {% else %}
        <div class="col-md-5 10 AZE">

            <h4 class="RTY">HOP3K SERVICES</h4>
            <p class="WXV">
                Adresse : Rue François Ponsard, Résidence Oushmane1,<br>
                3eme étage bureau N°16. Casablanca 20000
            </p>
            <p>
                <span class="WXV">ICE</span> : <span class="ZEF bolder"><b>000077247000025</b></span>
            </p>

        </div>
    {% endif %}


    <div class="col-sm-5 ZES">
        <h4 class="RTY">{{ facture.client.nom }}</h4>


        <p>
            <span class="XLJ">Adresse : {{ facture.client.adresse }}</span>
        </p>
        </p>
        <p>
            <span class="XLJ">ICE</span> : <span class="ERZ"><b>{{ facture.client.ice }}</b></span>
        </p>
    </div>

</div>


<table class="">
    <tr>
        <th class="NB" width="55%"><strong>Libellé des articles</strong></th>
        <th class="NBV" width="15%"><strong>
                Unité
                (jours)
            </strong></th>
        <th class="NBV" width="15%"><strong>Prix Unitaire HT (DH)</strong></th>
        <th class="NBV" width="15%"><strong>Prix Total HT (DH)</strong></th>

    </tr>
    {#   <td class="lmk">
                  {% if facture.client.nom == "ATOS" %}
                      <p>


                              <span class="PPP">Type de mission :
                                  {{ facture.mission.type }}
                                  <br>


                          </span>
                      </p>
                  {% endif %}
                  <p>
                      <span class="PPP">Assurer une prestation de régie dans le cadre de : </span>
                  </p>
                  <p>

                          <span class="OLL">
                              {% if facture.mission.job is not null %}

                                  {{ facture.mission.job.nom }}

                              {% else %}

                                  --
                              {% endif %}

                                                      </span>
                  </p>
                  {% if facture.mission.consultant is not null %}

                      <p>
                          <span class="YYY">Consultant :</span><br>
                          <span class="NBt OLL">{{ facture.consultant }}
                              &nbsp;</span>

                      </p>
                  {% endif %}

                  {% if facture.mois is not null %}
                      <p>
                          &nbsp;&nbsp;<span class="YYY"><u>Mois :</u></span><br><span
                                  class="OLL">&nbsp;&nbsp;&nbsp;&nbsp;{{ mois }} {{ facture.year }}</span>
                          {% if facture.facturehsups | length != 0 %}

                              <br>
                              <span class="OLL bolder">

                          {% for heure in facture.facturehsups %}
                              {% if heure.bcfournisseur is null %}

                                  {{ heure.heuresup }} ({{ heure.nbheure }}H) majoration {{ heure.heuresup.pourcentage }}%({{ heure.totalHT }}DH/HT)
                                  <br>
                              {% endif %}

                          {% endfor %}
                          </span>

                          {% endif %}
                      </p>
                  {% endif %}
                  {% if facture.client.nom == 'Société Générale – African Business Services' %}
                      {% if facture.mission.bcclient is not null %}
                          <p>
                              <span class="YYY">Référence des contrats :</span><br>


                              {% if facture.mission.bcclient.ncontrat !='' %}

                                  <span class="OLL bolder">{{ facture.mission.bcclient.ncontrat }}</span>
                                  <br>
                              {% endif %}
                              {% if facture.mission.bcclient.code != "" %}
                                  <span class="OLL bolder">Cadre: {{ facture.mission.bcclient.code }}</span>
                                  <br>
                              {% else %}

                              {% endif %}
                              {% if facture.mission.bcclient.application != "" %}
                                  <span class="OLL bolder">Application: {{ facture.mission.bcclient.application }}</span>
                                  <br>

                              {% else %}

                              {% endif %}
                              {% if facture.mission.bcclient.avenant!= "" %}
                                  <span class="OLL">Avenant: {{ facture.mission.bcclient.avenant }}</span>

                              {% else %}

                              {% endif %}


                          </p>
                      {% else %}

                      {% endif %}
                  {% else %}
                      {% if facture.mission.bcclient is not null %}
                          <p>
                              {% if facture.mission.bcclient.ncontrat !='' %}

                                  <span class="YYY">Référence de contrat</span><br>


                                  <span
                                          class="OLL bolder">{{ facture.mission.bcclient.ncontrat }}

                                  </span>
                                  <br>
                              {% else %}
                              {% endif %}
                              {% if facture.mission.bcclient.code != "" %}

                                  <span class="YYY">N° Bon de commande </span><br>


                                  <span
                                          class="OLL bolder">{{ facture.mission.bcclient.code }}</span>
                                  <br>
                              {% else %}

                              {% endif %}
                              {% if facture.mission.bcclient.application != "" %}

                                  <span class="YYY">Application </span><br>


                                  <span class="OLL bolder">{{ facture.mission.bcclient.application }}
                                      </span>
                                  <br>

                              {% else %}

                              {% endif %}
                              {% if facture.mission.bcclient.avenant!= "" %}

                                  <span class="YYY"> Avenant</span><br>


                                  <span class="OLL">{{ facture.mission.bcclient.avenant }}</span>

                              {% else %}

                              {% endif %}


                          </p>
                      {% else %}
                          <p></p>
                      {% endif %}
                  {% endif %}

              </td>#}

    <tr>

        <td class="" style="padding: 10px">
            <strong>
                <div class="desc">
                    Prestations Optimisation Radio et DRIV

                </div>

                {% for item in items %}

                    <p>

                        - {{ item['ligne'].job }}
                    </p>

                {% endfor %}
            </strong>
            <br>
            {% if facture.dateDebut is not null and facture.dateFin is not null %}
                <span class="YYY">Période :
                </span><br>
                Du {{ facture.dateDebut | date('d/m/Y') }} Au {{ facture.dateFin | date('d/m/Y') }}
            {% else %}
                <span class="YYY">Mois :
                </span><br>
                {{ mois }}-{{ facture.year }}
            {% endif %}
            {% if items[0]['ligne'].bcclient is not null %}
                <p>
                <span class="YYY">Bon de commande:
                </span><br>

                    <strong>
                        {{ items[0]['ligne'].bcclient.code }}
                    </strong>


                </p>
            {% endif %}


        </td>
        <td class="text-center">
            <strong>
                <br>
                <br>
                {% for item in items %}
                    <p>
                        {{ item['nbjours'] | number_format(2, ',', ' ') }}
                    </p>

                {% endfor %}
            </strong>

        </td>

        <td class="text-center">
            <strong>
                <br>

                <br>
                {% for item in items %}
                    <p>
                        {{ item['total']| number_format(2, ',', ' ') }}
                    </p>

                {% endfor %}
            </strong>
        </td>
        <td class="text-center">
            <strong>
                <br>

                <br>
                {% for item in items %}
                    <p>
                        {{ item['totalTTC']| number_format(2, ',', ' ') }}
                    </p>

                {% endfor %}

            </strong>
        </td>
    </tr>


</table>


<table class="jjj " cellspacing="0" cellpadding="0">
    <tbody>
    <tr class="">
        <th class="trr AZX">Montant des sommes dues</th>
        <td class="trr AZX">:</td>
        <td class="trr AZX">{{ facture.totalHT | number_format(2, ',', ' ') }} DH
        </td>

    </tr>
    <tr class="">
        <th class="trr AZX">Montant TVA 20%</th>
        <td class="trr AZX">:</td>
        <td class="trr AZX">{{ facture.taxe | number_format(2, ',', ' ') }} DH
        </td>

    </tr>
    <tr class="">
        <th class="trr AZX">Montant net à payer au prestataire</th>
        <td class="trr AZX">:</td>
        <td class="trr AZX">{{ facture.totalTTC | number_format(2, ',', ' ') }} DH</td>

    </tr>

    </tbody>
</table>
{#<p class="AZX">

    Montant des sommes dues &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ facture.totalHT }}
    .00
    DH <br>Montant TVA 20% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{ facture.taxe }}.00
    DH<br>Montant net à payer au prestataire &nbsp;&nbsp;{{ facture.totalTTC }}.00 DH

</p>#}
<p class="VVV">
    Arrêté la présente facture à la somme de :<br>
    <strong>
        <span class="XWWO">
           {{ total }}
            Dirhams

        </span></strong>
</p>
<p class="ljj">
    Signature et Cachet
</p>
<p class="WWM">
    <span class="XXX">Mode de paiement</span> <span class="CCC">:</span><br><span
            class="EEE">Virement au compte bancaire</span><br>

    {% if facture.comptebancaire %}
        <span class="EEE">
        RIB N°: {{ facture.comptebancaire.rib }}<br>
        Ouvert à {{ facture.comptebancaire.banque }}
            {% if facture.comptebancaire.agence != '' %}
                Agence {{ facture.comptebancaire.agence }}
            {% endif %}
            - {{ facture.comptebancaire.label }}

    </span>
    {% endif %}
</p>

<div class="row" id="footer1">

    <div class="col-md-10 col-md-offset-1">
        <footer>
            {% if fiche is not null %}
                <p class="RRR text-center">
                    SOCIETE <span class="WII">{{ fiche.nom }}</span>, &nbsp;au capital
                    de {{ fiche.capital }} DH -
                    {{ fiche.adresse }}. CNSS N°{{ fiche.cnss }} - RC N°{{ fiche.rc }} - IF N°3383481 - Patente N°
                    36166787
                    - ICE N°{{ fiche.ice }} - RIB N° {{ fiche.rib }} -SWIFT
                    : BMCIMAMC- Tél:0522990120
                </p>

            {% else %}

                <p class="RRR text-center">
                    SOCIETE <span class="WII">&nbsp; <b>HOPE3K Service</b></span>, &nbsp;au capital de 700 000 DH -
                    Lotissement
                    Lina, &nbsp;316,
                    3éme étage, Sidi maarouf, Casablanca. CNSS N°7958492 - RC N°295375 - IF N°3383481 - Patente N°
                    36166787
                    -ICE
                    N°000077247000025 - RIB N° 013780011400017840019248 -SWIFT
                    : BMCIMAMC- Tél:0522990120
                </p>
            {% endif %}


            <div class="TTT">
                <button class="btn btn-info" onclick="window.print()" id="vusz"><span class="fa fa-print"
                                                                                      id="print"></span> Imprimer
                </button>
            </div>

        </footer>

    </div>
</div>


<script type="application/javascript">

    $(document).ready(function () {

        $('#print').click();
        // $('body').hide();
    });

</script>
</body>
</html>